version: "3"
services:
  hmpps-ppud-automation-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-ppud-automation-api
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - PPUD_USERNAME=${PPUD_USERNAME}
      - PPUD_PASSWORD=${PPUD_PASSWORD}
      - PPUD_ADMIN_USERNAME=${PPUD_ADMIN_USERNAME}
      - PPUD_ADMIN_PASSWORD=${PPUD_ADMIN_PASSWORD}

  redis:
    image: "redis:8.2.3-alpine"
    networks:
      - hmpps
    ports:
      - "6379:6379"

  fake-document-management:
    image: wiremock/wiremock
    networks:
      - hmpps
    container_name: fake-document-management
    ports:
      - "8442:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
    command: --verbose --local-response-templating
    volumes:
      - ./fake-document-management:/home/wiremock

networks:
  hmpps:
