info.app:
  name: Hmpps Ppud Automation Api
  version: 1.0

spring:
  application:
    name: hmpps-ppud-automation-api
  codec:
    max-in-memory-size: 10MB

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  profiles:
    group:
      test:
        - "stdout"

  security:
    # noinspection SpringBootApplicationYaml
    strategy: MODE_INHERITABLETHREADLOCAL
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps.auth.url}/.well-known/jwks.json
      client:
        registration:
          document-management:
            provider: hmpps-auth
            client-id: ${system.client.id:hmpps-ppud-automation-api}
            client-secret: ${system.client.secret:clientsecret}
            authorization-grant-type: client_credentials
        provider:
          hmpps-auth:
            token-uri: ${hmpps.auth.url}/oauth/token

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful
  error:
    include-message: always

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
      group:
        readiness:
          include: readinessState, ppud
    info:
      cache:
        time-to-live: 2000ms

ppud:
  url: https://internaltest.ppud.justice.gov.uk
  health:
    path: /Secure/MJSLogin.aspx
    timeout: 5
  offender:
    caseworker:
      inCustody: "Recall Reps Packs(Recall 1)"
      ual: "Recall UAL Checks(Recall 1)"
    immigrationStatus: "Not Applicable"
    prisonerCategory: "Not Applicable"
    status: "Recalled [*]"
    youngOffenderYes: "Yes - Named"
    youngOffenderNo: "No"
  sentence:
    sentencedUnder: "Not Specified"
  release:
    category: "Not Applicable"
    releaseType: "On Licence"
    postRelease:
      licenceType: "Standard"
  recall:
    revocationIssuedByOwner: "EO Officer(Not Specified)"
    recallType: "Standard"
    returnToCustodyNotificationMethod: "Not Applicable"
    nextUalCheckMonths: 6
  reference:
    valueToExclude: "Not Specified"

automation:
  headless: true
  firefox:
    binary: ''

cache:
  timeToLiveSeconds: 1200
  refreshInitialDelaySeconds: 10

hmpps:
  auth:
    url: https://sign-in-dev.hmpps.service.justice.gov.uk/auth

document-management:
  client:
    timeout: 30
  health:
    timeout: 5
  api:
    url: http://localhost:8442